html {
   font-family: "Roboto", sans-serif;
   height: 100vh;
   padding: 0;
   margin: 0;
}

.flex-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   text-align: center;
   padding-left: 2.5%;
   padding-right: 2.5%;
}

.flex-row {
   justify-content: center;
}

.flex-item {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   align-self: center;
}

.in {
   color: #ffaa2d;
}

#favorite-button {
   background-color: black;
}

#recipe-summary-div {
   margin: 50px;
}

.hs-search {
   margin-bottom: 15px;
   width: 30rem !important;
   /* box-shadow: 2px 2px 5px #888; */
}


@media only screen and (max-width: 600px) {
   .hs-search {
      width: 20rem !important;
   }
}