#vertical-line {
  border-left: 4px solid rgb(52, 52, 52);
  height: 500px;
}

#main-screen {
  width: 100%;
  height: 100%;
  background-image: url("./img/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  z-index: 1000;
  margin: 0;
  padding: 0;
  position: fixed;
}
