#recipe-name-bar {
   background-color: orange;
   left: inherit;
   padding: 5px;
   width: auto;
   height: 30px;
}

#favorite-button {
   width: 30px;
   position: relative;
   float: right;
   margin-right: 2px;
   background: none;
   background-color: #a0da58;
   border: 1px solid white;
   
   /* need to fix the overall layout... and then  */
   /* display: none;  */
   /* we can tackle this giant heart button */
}

#recipe-name {
   font-size: 25px;
   color: white;
   padding-left: 5px;
   float: left;
}

#recipe-img-div > #recipe-img {
   float: left;
}

#recipe-img > img {
   width: 50%;
   float: left;
}

#recipe-information {
   float: left;
   width: 45%;
   height: 100%;
   line-height: 4px;
   margin-left: 15px;
}

#recipe-summary-div {
   box-shadow: 2px 2px rgb(74, 74, 74, 0);
   width: 100%;
   height: 100%;
}

.rs-card {
   height: 100%;
   width: 30vw;
}

@media only screen and (max-width: 992px) {
   #recipe-name {
      font-size: 16px;
      float: center;
      width: 100%;
      margin: auto;
      padding: auto;
   }

   #recipe-name-bar {
      text-align: center;
      height: 1rem;
   }

   #recipe-information {
      font-size: 18px;
      text-align: center;
      float: center;
      width: 100%;
      margin-left: 0px;
   }

   #recipe-img > img {
      float: center;
      width: 100%;
   }

   #favorite-button {
      display: none;
   }

   .rs-card {
      width: 75vw;
   }
}
